* {
    margin: 0;
    padding: 0;
}

.cart_container {
    width: 60%;
    margin: auto;
}

.cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid rgb(1, 8, 11);
    padding-bottom: 5px;
}

.cart_box img {
    width: 70px;
    height: 50px;
}

.title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #d59808;
}

.button {
    font-size: 15px;
    color: #0c0b09;
    background-color: #f7e7c1;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}

.button:hover {
    background-color: #d7be85;
    box-shadow: 2px 2px 10px rgb(176, 166, 166);
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
}

.total {
    display: flex;
    justify-content: space-between;
}

.total span:nth-child(1) {
    font-size: 30px;
    color: rgb(126, 5, 5);
    font-weight: bold;
    letter-spacing: 2px;
}

.total span:nth-child(2) {
    font-size: 30px;
    color: #d59808;
    font-weight: bold;
}