.footer_container {
    background-color: rgb(251 249 243);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;

}

.button {
    background: none;
    border: none;
}

.button:hover {
    animation: zoom 0.3s ease-out forwards;
    z-index: 0;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.icon {
    width: 40px;
    margin-right: 10px;
}

.phone {
    color: rgb(1, 6, 6);
}

.text {
    color: rgb(188, 112, 26);
}